@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.reportViewerModern {
  width: 100%;
  overflow: hidden !important;
  box-sizing: border-box;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  // Override SharePoint/workbench parent container styles
  :global {
    .CanvasZone,
    .CanvasSection,
    .ControlZone,
    [data-sp-web-part],
    [data-automation-id="CanvasZone"] {
      overflow: hidden !important;
    }
  }
}

.iframe {
  width: 100%;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}